.creation{
  width: 100%;
  height: 100vh;
  background-color: rgb(154, 217, 161);
}

h2{
  color: rgb(165, 42, 42);
}

.liens{
  position: relative;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 60%;
  transform: translate(-50%, -50%);
  background-color: olive;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxe{
  position: relative;
  background-color: rebeccapurple;
  margin: 30px;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rebeccapurple;
  overflow: hidden;
}

.img-creation{
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.boxe p {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.76);
  top: 100%;
  transition: all 0.3s ease-in-out;
  color: #fdfbfb;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  border-radius: 10px ;
}

.boxe:hover p{
  top: 70%;
}

.boxe-2{
  background-color: #282C34;
}

.boxe-3{
  background-color: #1f2123f6;
}